body {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.Header, .About, .Footer{
    background-color: #1F2937;
}
img {
    width: 200px;
    height: 200px;
}
.Bold-desc {
    font-size: 48px;
    font-weight: 800;
    color: #F9FAF9;
}
.Logo {
    font-size: 24px;
    color: #F9FAF9;
}
.text {
    font-size: 18px;
    color: #e5e7eb;
}
button {
    color: #3882f6;
}
.element-title {
    font-size: 36px;
    font-weight: 800;
    color: #1F2937;
}
.Quote {
    background-color: #e5e7eb;
    font-size: 36px;
    font-weight: lighter;
    color: #1F2937;
}
.Call-to-action {
    background-color: #3882f6;
    padding: 10px 200px;
    margin: 90px;
    border-radius: 5px;
}
.Call-to-action-text h3{
    color: #F9FAF9;
}
.Call-to-action-text p {
    color: #e5e7eb;
}