body {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0% 0%;
}
.Header, .About, .Footer{
    background-color: #1F2937;
}
.Bold-desc {
    font-size: 48px;
    font-weight: 800;
    color: #F9FAF9;
    margin: 0%;
}
.Logo {
    font-size: 24px;
    color: #F9FAF9;
    padding-left: 20%;
}
p {
    margin: 0%;
}
.text {
    font-size: 18px;
    color: #e5e7eb;
    margin-bottom: 10px;
}
button:hover {
     background-color: #1d65da;
     cursor: pointer;
}
 button {
     color: white;
     font-weight: 1000;
     background-color: #3882f6;
     border-radius: 6px;
     padding: 8px 30px;
 }
 .button-1 button {
     border: 2px solid #3882f6;
 }
 .button-1 button:hover {
     border: 2px solid #1d65da;   
 }
.element-title {
    font-size: 36px;
    font-weight: 800;
    color: #1F2937;
}
.Quote {
    background-color: #e5e7eb;
    font-size: 36px;
    font-weight: lighter;
    color: #1F2937;
}
.Elements img {
    border: 4px solid #3882f6;
    border-radius: 7px;   
}
.button-2 button {
    border: 2px solid white;   
}
.Footer p {
    color: #F9FAF9;
}
.Header {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.Link-1:hover, .Link-2:hover,.Link-3:hover {
    color: #9fa7b8;
    cursor: pointer;
}
.Links {
    color: #e5e7eb;
    display: flex;
    gap: 21px;
    padding-right: 20%;
}
.About {
    padding-left: 20%;
    padding-right: 20%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 450px;
    padding-bottom: 50px;
}
.left {
    width: 40%;
    margin-top: -15px;
}
.Image img {
    margin-top: 0%;
    height: 280px;
    width: 500px;
    padding-left: 50px;
}
.element-title {
    text-align: center;
}
.Elements {
    display: flex;
    justify-content: space-around;
}
.Elements img {
    width: 180px;
    height: 180px;
}
.Elements p {
    width: 180px;
}
.Info {
    width: 57%;
    text-align: center;
}
.Quote {
    width: 100%;
    height: 400px;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.author {
    display: flex;
    align-self: center;
    padding-left: 210px;
    padding-top: 10px;
}
.Call-to-action {
    background-color: #3882f6;
    width: 50%;
    height: 128px;
    margin: 90px;
    border-radius: 5px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}
.Call-to-action-text h3{
    color: #F9FAF9;
    margin: 0%;
    margin-top: -2px;
}
.Call-to-action-text p {
    color: #e5e7eb;
}
.Footer {
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}