body {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.Header, .About, .Footer{
    background-color: #1F2937;
}
img {
    width: 200px;
    height: 200px;
}
.Bold-desc {
    font-size: 48px;
    font-weight: 800;
    color: #F9FAF9;
}
.Logo {
    font-size: 24px;
    color: #F9FAF9;
}
.text {
    font-size: 18px;
    color: #e5e7eb;
}
button:hover {
     background-color: #1d65da;
}
 button {
     color: white;
     font-weight: 1000;
     background-color: #3882f6;
     border-radius: 6px;
     padding: 8px 30px;
 }
 .button-1 button {
     border: 2px solid #3882f6;
 }
 .button-1 button:hover {
     border: 2px solid #1d65da;
 }
.element-title {
    font-size: 36px;
    font-weight: 800;
    color: #1F2937;
}
.Quote {
    background-color: #e5e7eb;
    font-size: 36px;
    font-weight: lighter;
    color: #1F2937;
}
.Call-to-action {
    background-color: #3882f6;
    padding: 10px 200px;
    margin: 90px;
    border-radius: 5px;
}
.Call-to-action-text h3{
    color: #F9FAF9;
}
.Call-to-action-text p {
    color: #e5e7eb;
}
.Elements img {
    border: 4px solid #3882f6;
    border-radius: 7px;   
}
.button-2 button {
    border: 2px solid white;
    
}